.main-header{
	font-size: 20px;
}
.infohead{
	font-family: SutonnyOMJ;
	font-size: 40px;
	border-bottom: 2px solid white;
	padding-bottom: 2px
}

.score{
	margin-bottom: 28px; 
	margin-left:55px;
}

.infores{
	font-family: SutonnyOMJ; 
	font-size: 60px;
	margin-left: 45px; 
	line-height: 50px
}

.info{
	font-family: SutonnyOMJ;
	font-size: 37px;
}

.nomuna{
	font-family: SutonnyOMJ;
	font-size: 20px;
	padding: 10px 60px; 
	margin-right:30px
}

.totalinfo{
	font-family: SutonnyOMJ; 
	font-size: 27px;
	margin-right: 3px
}

.totalres{
	font-family: SutonnyOMJ;
	font-size: 27px; 
	margin-left: 5px;
	padding: 2px;
}

.source{
	font-family: SutonnyOMJ; 
	color: white;
}





/*@media only screen and (min-width: 900px) {
	
}*/

@media only screen and (max-width: 360px) {
	h5{
		padding-top: 5px;
	}

	.img-fluid {
		max-width: 66%;
	}

	.main-header {
		font-size: 16px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 4px;
		margin-left: 17px;
		padding-top: 1px;
	}


	.infohead {
		font-family: SutonnyOMJ;
		font-size: 22px;
		border-bottom: 2px solid white;
		padding-bottom: 2px;
	}
	.score {
		margin-bottom: 12px;
		margin-left: 52px;
	}
	.info {
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
	}
	.info .a {
		padding: 11px;
	}


	.infores {
		font-family: SutonnyOMJ;
		font-size: 29px;
		margin-left: 37px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 16px;
		padding: 10px 20px;
		margin-right: 4px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-right: 3px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-left: 2px;
		padding: 2px;
	}

}
@media only screen and (min-width: 375px) {
	h5{
		padding-top: 5px;
	}

	.img-fluid {
		max-width: 66%;
	}

	.main-header {
		font-size: 16px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 4px;
		margin-left: 17px;
		padding-top: 1px;
	}


	.infohead {
		font-family: SutonnyOMJ;
		font-size: 22px;
		border-bottom: 2px solid white;
		padding-bottom: 2px;
	}
	.score {
		margin-bottom: 12px;
		margin-left: 52px;
	}
	.info {
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
	}
	.info .a {
		padding: 11px;
	}


	.infores {
		font-family: SutonnyOMJ;
		font-size: 29px;
		margin-left: 37px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 16px;
		padding: 10px 20px;
		margin-right: 4px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-right: 3px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-left: 2px;
		padding: 2px;
	}

}

@media only screen and (min-width: 411px) {
	h5{
		padding-top: 5px;
	}

	.img-fluid {
		max-width: 66%;
	}

	.main-header {
		font-size: 16px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 4px;
		margin-left: 17px;
		padding-top: 1px;
	}


	.infohead {
		font-family: SutonnyOMJ;
		font-size: 22px;
		border-bottom: 2px solid white;
		padding-bottom: 2px;
	}
	.score {
		margin-bottom: 12px;
		margin-left: 77px;
	}
	.info {
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
	}
	.info .a {
		padding: 11px;
	}


	.infores {
		font-family: SutonnyOMJ;
		font-size: 29px;
		margin-left: 37px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 16px;
		padding: 10px 20px;
		margin-right: 4px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-right: 3px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-left: 2px;
		padding: 2px;
	}

}

@media only screen and (min-width: 412px) {
	h5{
		padding-top: 5px;
	}

	.img-fluid {
		max-width: 66%;
	}

	.main-header {
		font-size: 16px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 4px;
		margin-left: 17px;
		padding-top: 1px;
	}


	.infohead {
		font-family: SutonnyOMJ;
		font-size: 22px;
		border-bottom: 2px solid white;
		padding-bottom: 2px;
	}
	.score {
		margin-bottom: 12px;
		margin-left: 77px;
	}
	.info {
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
	}
	.info .a {
		padding: 11px;
	}


	.infores {
		font-family: SutonnyOMJ;
		font-size: 29px;
		margin-left: 37px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 16px;
		padding: 10px 20px;
		margin-right: 4px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-right: 3px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-left: 2px;
		padding: 2px;
	}

}


@media only screen and (min-width: 414px) {
	h5{
		padding-top: 5px;
	}

	.img-fluid {
		max-width: 66%;
	}

	.main-header {
		font-size: 16px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 4px;
		margin-left: 17px;
		padding-top: 1px;
	}


	.infohead {
		font-family: SutonnyOMJ;
		font-size: 22px;
		border-bottom: 2px solid white;
		padding-bottom: 2px;
	}
	.score {
		margin-bottom: 12px;
		margin-left: 77px;
	}
	.info {
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
	}
	.info .a {
		padding: 11px;
	}


	.infores {
		font-family: SutonnyOMJ;
		font-size: 29px;
		margin-left: 37px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 16px;
		padding: 10px 20px;
		margin-right: 4px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-right: 3px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 15px;
		margin-left: 2px;
		padding: 2px;
	}

}


/*@media only screen and (max-width: 576px) {
	h5{
		padding-top: 5px;
	}

	.main-header {
		font-size: 18px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 1px;
		margin-left: 45px;
		padding-top: 3px;
	}

	.img-fluid{
		max-width: 35%;
	}
	.infohead{
		font-family: SutonnyOMJ;
		font-size: 25px;
		border-bottom: 2px solid white;
		padding-bottom: 2px
	}
	.score {
		margin-bottom: 28px;
		margin-left: 31px;
	}
	.info{
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
	}
	.info .a {
		padding: 13px;
	}


	.infores {
		font-family: SutonnyOMJ;
		font-size: 29px;
		margin-left: 37px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 18px;
		padding: 10px 20px;
		margin-right: 40px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 20px;
		margin-right: 3px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 21px;
		margin-left: 2px;
		padding: 2px;
	}

}
*/

@media only screen and (min-width: 768px) { 

	h5{
		padding-top: 5px;
	}
	.main-header {
		font-size: 22px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 1px;
		margin-left: 160px;
		padding-top: 2px;
	}
	.img-fluid{
		max-width: 35%;
	}
	.score {
		margin-bottom: 20px;
		margin-left: 152px;
	}

	.infohead {
		font-family: SutonnyOMJ;
		font-size: 30px;
		border-bottom: 2px solid white;
		padding-bottom: 1px;
	}

	.infores {
		font-family: SutonnyOMJ;
		font-size: 32px;
		margin-left: 44px;
	}
	.info {
		font-family: SutonnyOMJ;
		font-size: 23px;
	}
	.info .a {
		padding: 16px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 19px;
		padding: 10px 20px;
		margin-right: 4px;
	}
	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 23px;
		margin-right: 3px;
	}
	.totalres {
		font-family: SutonnyOMJ;
		font-size: 23px;
		margin-left: 1px;
		padding: 3px;
	}


}

@media only screen and (min-width: 992px) { 

	h5{
		padding-top: 5px;
	}

	.main-header {
		font-size: 28px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 6px;
		margin-left: 220px;
		padding-top: 2px;
	}

	.img-fluid{
		max-width: 35%;
	}

	.info{
		font-family: SutonnyOMJ;
		font-size: 37px;
	}

	.infohead{
		font-family: SutonnyOMJ;
		font-size: 40px;
		border-bottom: 2px solid white;
		padding-bottom: 2px
	}
	.infores{
		font-family: SutonnyOMJ; 
		font-size: 60px;
		margin-left: 45px; 
		line-height: 54px
	}
	.score{
		margin-bottom: 28px; 
		margin-left:55px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 20px;
		padding: 10px 60px;
		margin-right: -47px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 30px;
		margin-right: 4px;
	}

	.totalres{
		font-family: SutonnyOMJ;
		font-size: 27px; 
		margin-left: 5px;
		padding: 2px;
	}

}

@media only screen and (min-width: 1280px) { 

	h5{
		padding-top: 5px;
	}

	.main-header {
		font-size: 30px;
		font-weight: bold;
		font-family: Times new roman;
		margin-top: 6px;
		margin-left: 366px;
		padding-top: 2px;
	}

	.img-fluid{
		max-width: 35%;
	}

	.info{
		font-family: SutonnyOMJ;
		font-size: 37px;
	}

	.infohead{
		font-family: SutonnyOMJ;
		font-size: 40px;
		border-bottom: 2px solid white;
		padding-bottom: 2px
	}
	.infores{
		font-family: SutonnyOMJ; 
		font-size: 60px;
		margin-left: 45px; 
		line-height: 54px
	}
	.score{
		margin-bottom: 28px; 
		margin-left:55px;
	}
	.nomuna {
		font-family: SutonnyOMJ;
		font-size: 20px;
		padding: 10px 60px;
		margin-right: 6px;
	}

	.totalinfo {
		font-family: SutonnyOMJ;
		font-size: 30px;
		margin-right: 4px;
	}

	.totalres {
		font-family: SutonnyOMJ;
		font-size: 32px;
		margin-left: 5px;
		padding: 2px;
	}

}
